pylint==1.8.4
jupyter==1.0.0
jupyterlab==0.32.0
numpy==1.14.2
scipy==1.0.1
scikit-learn==0.19.1
matplotlib==2.2.2
tensorflow==1.7.0
keras==2.1.5
scikit-image==0.13.1
pandas==0.22.0
chardet==3.0.4
fuzzywuzzy==0.16.0